.user-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.user-form-card {
  background-color: var(--bg-light);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  text-align: center;
  color: var(--primary-color);
}

.user-form-card h2 {
  margin-bottom: 20px;
}

.user-form-card p {
  margin-bottom: 20px;
}